span.pull-right.btn-group
  = link_to('编辑', edit_mission_path(@mission), class: ['btn btn-default']) if can?(:edit, @mission)
  = link_to('监督', supervisions_path(@mission), class: ['btn btn-info']) if can?(:supervise, @mission)
  = link_to('返回', :back, class: ['btn btn-warning'])
