@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}
.page-form {
  margin-left:  20%;
  margin-right: 20%;
}