$lightgray-top: #fafafa;
$lightgray-bottom: #eaeaea;
$hover-blue: #5dc9c9;
$border-bottom: #dcdcdc;
$header-box-shadow: #cecdcd;
$header-word: #686c6d;

.header {
  background-image: linear-gradient(to bottom, $lightgray-top, $lightgray-bottom);
  border-bottom: 2px solid $border-bottom;
  border-radius: 0 0 35px 35px;
  box-shadow: 0 1px 1px $header-box-shadow inset;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-part {
  margin: 0;
  padding: 10px 0 0 0;
}

.head-logo {
  float: left;
  margin-left: 70px;
}

.top-nav {
  float: right;
  margin-right: 50px;
  .myul {
    margin: 0;
    padding: 0;
    .myli {
      display: inline-block;
      margin: 0.5em 2em 0;
      .mya {
        font-size: 15px;
        line-height: 40px;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -webkit-transition: 0.5s all;
        transition: 0.5s all;
        :hover {
          color: $hover-blue;
          text-decoration: none;
          padding: 1.4em 0 0;
          border-top: 3px solid $hover-blue;
        }
      }
      a {
        color: $header-word;
        font-size: 15px;
        text-decoration: none;
      }
    }
  }
}

.head-logo a {
  display: block;
}

.top-nav p {
  margin: 2.1em 0;
}

.top-nav p a:hover {
  color: $hover-blue;
  text-decoration: none;
}

#friendship_email
{
  width: 120px;
}
