.header{
  border-bottom:solid 2px #5DC9C9;
}
.header-part{
  margin: 1.5em 0;
}
.head-logo{
  float: left;
  margin-left: 100px;
}
.top-nav{
  float: right;
  margin-right: 50px;
}
.top-nav ul{
  padding:0;
  margin:0;
}
.top-nav ul li{
  display:inline-block;
  margin: .5em 2em 0;
}
.top-nav ul li a{
  color:#97999B;
  font-size:17px;
  transition:.5s all;
  -webkit-transition:.5s all;
  -moz-transition:.5s all;
  -o-transition:.5s all;
  -ms-transition:.5s all;
}
.top-nav ul li a:hover{
  color: #5DC9C9;
  text-decoration:none;
  padding: 1.4em 0 0;
  border-top: 3px solid #5DC9C9;
}
.head-logo a{
  display:block;
}
.top-nav p {
  margin: 2.1em 0;
}
.top-nav p a:hover{
  color:#5DC9C9;
  text-decoration:none;
}
