@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';
@import "creative";
@import "animate.min";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "sidebar";
@import "footer";

header {
  min-height: 50px;
  background-image: none;
  background-color: $orange;
}

.mypage {
  min-height: 90%;
}
