@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';
@import "header";
@import "sidebar";
@import "footer";

body {
  margin: 0;
  padding-top: 60px;
  height: 100%;
}

.wrapper {
  min-height:100%;
  position:relative;
}

.container-fluid {
  padding-bottom: 500px;
}
