.login-card {
  width: 480px;
  height: auto;
  margin: 40px auto auto;
  padding: 20px 40px;
  background: #fcfcfc;
  border:1px solid #cccccc;
}
.login-header {
  border-bottom: 1px solid #cccccc;
}
.login-content {
  margin: 10px auto 10px;
  padding-top: 30px;
}
